{{#each this}}
  <div class='render__box--flex'>
    <div class='render__item'>
      <h1>{{name}}</h1>
      <p>Capital: <span>{{capital}}</span></p>
      <p>Population: <span>{{population}}</span></p>
      <div>
        <p>Languages:</p>
        <ul>
          {{#each languages}}
            <li>{{name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class='render__item'>
      <img class='render__flag' src='{{flag}}' alt='flag' />
    </div>
  </div>

{{/each}}